<div class="loader" *ngIf="loading"></div>
<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <div class="modal-body">
        <div>
            <div class="form-group">
                <label class="form-control-label" for="field_email">Email</label>
                <input type="text" class="form-control" name="email" id="field_email"
                    formControlName="email" maxlength="50" size="50"/>
                <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required">
                        Este campo es obligatorio.
                    </small>
                    <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.pattern">
                        El email que ingresaste no es válido.
                    </small>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label class="form-control-label" for="field_name">Nombres</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required">
                        Este campo es obligatorio.
                        </small>
                        <small class="form-text text-danger"
                            *ngIf="editForm.get('name')?.errors?.maxlength" [translateValues]="{ max: 50 }">
                        Este campo no puede tener más de 50 caracteres.
                        </small>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label class="form-control-label" for="field_lastname">Apellidos</label>
                    <input type="text" class="form-control" name="lastname" id="field_lastname"
                        formControlName="lastname"/>
                    <div *ngIf="editForm.get('lastname')!.invalid && (editForm.get('lastname')!.dirty || editForm.get('lastname')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('lastname')?.errors?.required">
                        Este campo es obligatorio.
                        </small>
                        <small class="form-text text-danger"
                            *ngIf="editForm.get('lastname')?.errors?.maxlength" [translateValues]="{ max: 50 }">
                        Este campo no puede tener más de 50 caracteres.
                        </small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label class="form-control-label" for="field_roles">Roles</label>
                    <div class="input-group">
                        <p-multiSelect appendTo="body" [options]="roles" formControlName="authorities"
                            optionLabel="name" defaultLabel="Seleccione Roles" ></p-multiSelect>
                        <div *ngIf="editForm.get('authorities')!.invalid && (editForm.get('authorities')!.dirty || editForm.get('authorities')!.touched)">
                            <small class="form-text text-danger" *ngIf="editForm.get('authorities')?.errors?.required">
                            Este campo es obligatorio.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-group col-6" *ngIf="user">
                    <label class="form-control-label" for="field_status">Estado</label>
                    <div class="input-group">
                        <p-checkbox formControlName="active" binary="true" 
                            inputId="binary"></p-checkbox>
                        <label for="binary" style="margin-left: .5rem;line-height: 1;margin-bottom: 0px;">
                            {{editForm.get('active').value ? 'ACTIVO' : 'INACTIVO'}}
                        </label>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer bg-whitesmoke br">
        <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="close()">Cancelar</button>
    </div>
</form>