<div class="loader" *ngIf="loading"></div>
<section class="section">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                <div class="card card-primary">
                    <div class="card-header">
                        <h4>Ingreso Usuarios</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="on" class="needs-validation"
                            novalidate="">
                            <div class="form-group">
                                <label for="email">Correo Electrónico</label>
                                <input id="email" type="email" class="form-control" formControlName="username"
                                    name="username" tabindex="1" required autofocus maxlength="50" size="50">
                                <div
                                    *ngIf="loginForm.get('username')!.invalid && (loginForm.get('username')!.dirty || loginForm.get('username')!.touched)">
                                    <small class="form-text text-danger"
                                        *ngIf="loginForm.get('username')?.errors?.required">
                                        Este campo es obligatorio.
                                    </small>
                                    <small class="form-text text-danger"
                                        *ngIf="loginForm.get('username')?.errors?.pattern">
                                        El email que ingresaste no es válido.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="d-block">
                                    <label for="password" class="control-label">Contraseña</label>
                                    <div class="float-right">
                                        <a href="javascript:void(0);" (click)="forgotPass()" class="text-small">
                                            ¿Olvidó su Contraseña?
                                        </a>
                                    </div>
                                </div>
                                <input id="password" type="password" class="form-control" formControlName="password"
                                    name="password" tabindex="2" required>
                                <div class="invalid-feedback" *ngIf="loginForm.get('password').hasError('required')">
                                    Por favor ingrese su contraseña
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="remember" class="custom-control-input" tabindex="3"
                                        id="remember-me">
                                    <label class="custom-control-label" for="remember-me">Recordar datos</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                    Iniciar Sesión
                                </button>
                            </div>
                        </form>
                        <div class="login-brand">
                            <div class="login-brand">
                                <img alt="image"
                                    src="https://runcode.co/wp-content/uploads/2016/04/logo-horizontal-runecode.png"
                                    width="150" data-toggle="title" title="">
                            </div>
                        </div>
                        <div class="mt-5 text-muted text-center">
                            ¿Aún no tiene una cuenta? <a href="javascript:void(0);"
                                (click)="createAccount()">Crearla</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>