<div class="loader" *ngIf="loading"></div>
<section class="section">
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
          <div class="card card-primary">
            <div class="card-header">
              <h4>Restablecer tu Contraseña</h4>
            </div>
            <div class="card-body">
              <p class="text-muted">Ingresa tu nueva contraseña</p>
              <form [formGroup]="resetPasswordForm" (ngSubmit)="updatePassword()" autocomplete="off" class="needs-validation" novalidate="">
                <div class="row">
                  <div class="form-group col-6">
                      <label for="password" class="d-block">Password</label>
                      <input id="password" pPassword type="password" class="form-control pwstrength"
                          formControlName="password" promptLabel="Ingresar Password" weakLabel="Débil"
                          mediumLabel="Medio" strongLabel="Fuerte"/>
                      <div *ngIf="resetPasswordForm.get('password')!.invalid && (resetPasswordForm.get('password')!.dirty || resetPasswordForm.get('password')!.touched)">
                          <small class="form-text text-danger" *ngIf="resetPasswordForm.get('password')?.errors?.required">
                          Este campo es obligatorio.
                          </small>
                          <small class="form-text text-danger"
                              *ngIf="resetPasswordForm.get('password')?.errors?.maxlength" [translateValues]="{ max: 30 }">
                              Este campo no puede tener más de 30 caracteres.
                          </small>
                          <small class="form-text text-danger"
                              *ngIf="resetPasswordForm.get('password')?.errors?.minlength" [translateValues]="{ min: 8 }">
                              Este campo debe tener mínimo 8 caracteres.
                          </small>
                      </div>
                  </div>
                  <div class="form-group col-6">
                      <label for="passwordConfirm" class="d-block">Confirmar Password</label>
                      <input id="passwordConfirm" pPassword type="password" class="form-control pwstrength"
                          formControlName="passwordConfirm" promptLabel="Ingresar Password" weakLabel="Débil"
                          mediumLabel="Medio" strongLabel="Fuerte"/>
                      <div *ngIf="resetPasswordForm.get('passwordConfirm')!.invalid && (resetPasswordForm.get('passwordConfirm')!.dirty || resetPasswordForm.get('passwordConfirm')!.touched)">
                          <small class="form-text text-danger" *ngIf="resetPasswordForm.get('passwordConfirm')?.errors?.required">
                          Este campo es obligatorio.
                          </small>
                          <small class="form-text text-danger"
                              *ngIf="resetPasswordForm.get('passwordConfirm')?.errors?.maxlength" [translateValues]="{ max: 30 }">
                          Este campo no puede tener más de 30 caracteres.
                          </small>
                          <small class="form-text text-danger"
                              *ngIf="resetPasswordForm.get('passwordConfirm')?.errors?.minlength" [translateValues]="{ min: 8 }">
                              Este campo debe tener mínimo 8 caracteres.
                          </small>
                          <small class="form-text text-danger"
                              *ngIf="resetPasswordForm.get('passwordConfirm')?.errors?.mustMatch">
                              La contraseña no coincide
                          </small>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4"
                    [disabled]="resetPasswordForm.invalid">
                    Actualizar Contraseña
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>