<div class="main-sidebar sidebar-style-2" tabindex="1" style="overflow: hidden; outline: none;">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="index.html">
        <img alt="image" src="../../../../assets/ality/assets/img/logo.png" class="header-logo">
        <span class="logo-name">&nbsp;RunCode</span>
      </a>
    </div>
    <ul class="sidebar-menu">
      <li class="menu-header">Módulos</li>
      <li class="dropdown">
        <a href="javascript:void(0);" (click)="dashboard()" class="nav-link"><i
            class="fas fa-home"></i><span>Dashboard</span></a>
      </li>
      <li class="nav-item accordion-item" id="users" data-value="value 1" *ngIf="checkUserRole('admin')">
        <a href="#" class="nav-link parent-menu" data-toggle="collapse" data-target="#collapseUserMenu"
          aria-expanded="true" aria-controls="collapseUserMenu">
          <i class="fas fa-user"></i><span>Usuarios Empresariales</span>
        </a>
        <div id="collapseUserMenu" class="collapse" aria-labelledby="headingUserMenu" data-parent="#users">
          <a [ngClass]="activeURL === '/dashboard/user-list' ? 'nav-link child-style dropdown-item submenu active' : 'nav-link child-style dropdown-item submenu'"
            id="user-lst" data-toggle="tab" role="tab" aria-selected="true" href="javascript:void(0);"
            (click)="userList()">
            Gestión de Usuarios</a>
        </div>
      </li>
      <li class="nav-item accordion-item" id="companies" data-value="value 2" *ngIf="checkUserRole('admin')">
        <a href="#" class="nav-link parent-menu" data-toggle="collapse" data-target="#collapseCompanyMenu"
          aria-expanded="true" aria-controls="collapseCompanyMenu">
          <i class="fas fa-industry"></i><span>Empresas</span>
        </a>
        <div id="collapseCompanyMenu" class="collapse" aria-labelledby="headingCompanyMenu" data-parent="#companies">
          <a [ngClass]="activeURL === '/dashboard/company-list' ? 'nav-link child-style dropdown-item submenu active' : 'nav-link child-style dropdown-item submenu'"
            id="company-lst" data-toggle="tab" role="tab" aria-selected="true" href="javascript:void(0);"
            (click)="companyList()">
            Gestión de Empresas</a>
        </div>
      </li>
      <li class="nav-item accordion-item" id="reports" data-value="value 3" *ngIf="checkUserRole('admin')">
        <a href="#" class="nav-link parent-menu" data-toggle="collapse" data-target="#collapseReportsMenu"
          aria-expanded="true" aria-controls="collapseReportsMenu">
          <i class="fas fa-list"></i><span>Reportes</span>
        </a>
        <div id="collapseReportsMenu" class="collapse" aria-labelledby="headingReportsMenu" data-parent="#reports">
          <a [ngClass]="activeURL === '/dashboard/upload-info' ? 'nav-link child-style dropdown-item submenu active' : 'nav-link child-style dropdown-item submenu'"
            id="upload-info" data-toggle="tab" role="tab" aria-selected="true" href="javascript:void(0);"
            (click)="uploadInfo()">
            Cargar Información</a>
          <!-- <a [ngClass]="activeURL === '/dashboard/reports' ? 'nav-link child-style dropdown-item submenu active' : 'nav-link child-style dropdown-item submenu'"
            id="reports-opt" data-toggle="tab" role="tab" aria-selected="true" href="javascript:void(0);"
            (click)="viewReports()">
            Visualizar Información</a> -->
          <a [ngClass]="activeURL === '/dashboard/download-reports' ? 'nav-link child-style dropdown-item submenu active' : 'nav-link child-style dropdown-item submenu'"
            id="reports-down" data-toggle="tab" role="tab" aria-selected="true" href="javascript:void(0);"
            (click)="genReports()">
            Generación / Descarga</a>
        </div>
      </li>
    </ul>
  </aside>
</div>