
<section class="section">
    <div class="section-header">
        <h1>{{titleComponent}}</h1>
    </div>
</section>

<div class="alert alert-warning" id="no-result" *ngIf="users?.length === 0">
    <span>No se encontraron usuarios en el sistema</span>
</div>
<p-confirmDialog #cd header="Confirmar" icon="pi pi-exclamation-triangle" >
    <p-footer>
        <button type="submit" class="btn btn-primary" (click)="cd.accept()">Confirmar</button>
        <button type="button" class="btn btn-secondary" (click)="cd.reject()">Cancelar</button>
    </p-footer>
</p-confirmDialog>
<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo Usuario" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNewUser()"></button>
        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="users" [lazy]="true" (onLazyLoad)="loadUsersList($event)"
        [loading]="loading" loadingIcon="loaderIcon">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Administrar Usuarios</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (keyup.enter)="aplicarFiltro($event.target.value)" placeholder="Ingrese texto y Enter" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
            <th >Usuario </th>
            <th >Nombres </th>
            <th >Apellidos </th>
            <th >Estado </th>
            <th>Roles</th>
            <th style="width:15%">Operaciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{user.user.email}}</td>
                <td>{{user.user.name}}</td>
                <td>{{user.user.lastname}}</td>
                <td>{{user.user.active ? 'ACTIVO' : 'INACTIVO'}}</td>
                <td>{{user.authorities}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="openEditUser(user)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="confirmDeleteUser(user)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
        </ng-template>
    </p-table>
    <div style="position: relative;">
        <p-paginator rows="10" (onLazyLoad)="loadUsersList($event)"
            (onPageChange)="loadUsersList($event)"
            [totalRecords]="totalRecords"  
            [rowsPerPageOptions]="[10,20,30]"></p-paginator>
            <span style="position: absolute; top:3px; right:5px; margin: 5px;">Total de Usuarios: {{totalRecords}} </span>
    </div>
</div>  